
app-user {
  display: inline-block;
}

.user-list {
  padding: 2rem;
}

.user-list__collection {
  display: flex;
  flex-flow: row wrap;
  min-height: 220px;
}

.user-list__collection li {
  width: 50%;
  padding: 1rem 1rem 1rem 0;
}

