
<div class="user-list">
  <div class="user-list__header">
    <h3>Users</h3>
    <p>If you want to get contact information to specific user, just select group and then select him from list below</p>
  </div>

  <div class="add-user">
    <i
      nz-icon
      nzType="plus"
      nzTheme="outline"
      (click)="onAddUserClick()"
      *ngIf="!addUserOpen"
    ></i>
    <app-add-user *ngIf="addUserOpen" (userAdded)="userAdded()"></app-add-user>
  </div>

  <ul class="user-list__collection">
    <li *ngFor="let user of usersList | paginationPipe : currentPage; let i = index; trackBy: trackBy">
      <app-user
         [user]="user"
         (click)="onUserSelect(user)"
         [selectedUserId]="selectedUserId"
      ></app-user>
    </li>
  </ul>
  <app-pagination [numberOfUsers]="usersList.length"></app-pagination>
</div>


