
.auth{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  background-color:#667380;
  overflow-x:hidden;
  overflow-y:auto;
}

.auth nz-card {
  width: 350px;
}

nz-form-item.no-errors {
  margin-bottom: 24px !important;
}


