.main-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.main-menu__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.main-menu__item {
  cursor: pointer;
  margin-right: 0.5rem;
}

.main-menu__item i {
  margin-right: 0.3rem;
  font-size: 1.2rem;
}

.main-menu__list .burger-icon {
  display: none;
}

@media screen and (max-width: 1100px) {
  .main-menu__list .burger-icon {
    display: block;
  }
}
