<!--<main class="main">-->
<!--  <aside class="side-nav">-->

<!--  </aside>-->
<!--  <div class="right-side">-->
<!--    <header class="header">-->

<!--    </header>-->
<!--    <section class="content">-->

<!--    </section>-->
<!--  </div>-->
<!--</main>-->

<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <app-sidebar></app-sidebar>
    </nz-sider>
  <nz-layout>
    <nz-header>
      <app-header></app-header>
    </nz-header>
    <nz-content class="main">
      <div class="row">
        <app-users-list></app-users-list>
        <app-user-details></app-user-details>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
