<!--<a nz-button nzType="'link'" [nzSize]="'large'"  nzShape="round" nzGhost>-->
<!--  <nz-avatar [nzSize]="'large'"  nzIcon="user" nzSrc="{{item.avatar}}"></nz-avatar>-->
<!--  <span>{{ item['first_name'] + ' '  + item['last_name'] }}</span>-->
<!--</a>-->

<!-- need to apply selected class when specific user selected-->

<div class="user" [class.selected]="selectedUser.id === user.id">
  <div class="user__avatar" [ngStyle]="{'background-image': 'url(' + user.avatar + ')'}"></div>
  <div class="user__name">{{user.first_name + ' ' + user.last_name}}</div>
</div>

